## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

## Toss the Stanford brand bar on top of the page
<%block name="navigation_top">
<div role="menubar" class="metrox-header">
<div class="container">
<div class="row">
<div class="metrox-header-primary">
<a href="/" class="internal-home metrox-logo"></a>
</div>
<div class="metrox-header-secondary">
<a href="/courses" class="metrox-header-link internal-home">Courses</a>
<a data-js="redirect-link" href="http://hebsonline.com/login" class="metrox-header-link metrox-header-link-special">Sign In</a>
<a data-js="redirect-link" href="http://hebsonline.com/register" class="metrox-header-link metrox-header-link-special">Sign Up</a>
</div>
</div>
</div>
</div>
 
</%block>

## TODO: this will eventually be moved to the Sass


## We don't want extra links inside the navigation dropdown
<%block name="navigation_dropdown_menu_links" />

## When unauthenticated, only show the about page link
<%block name="navigation_global_links">
<div role="menubar" class="metrox-header">
<div class="container">
<div class="row">
<div class="metrox-header-primary">
<a href="/" class="internal-home metrox-logo"></a>
</div>
<div class="metrox-header-secondary">
<a href="${marketing_link('COURSES')}" class="metrox-header-link internal-home">Courses</a>
<a data-js="redirect-link" href="${marketing_link('LOGIN')}" class="metrox-header-link metrox-header-link-special">Sign In</a>
<a data-js="redirect-link" href="${marketing_link('REGISTER')}" class="metrox-header-link metrox-header-link-special">Sign Up</a>
</div>
</div>
</div>
</div>
</%block>

## When authenticated, show both the about page and find courses
<%block name="navigation_global_links_authenticated">
  <li class="nav-global-01">
    <a href="${marketing_link('ABOUT')}">${_('About')}</a>
  </li>
  <li class="nav-global-02">
    <a href="${marketing_link('COURSES')}">${_('Find Courses')}</a>
  </li>
</%block>

